body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(30, 15px);
  grid-template-rows: repeat(30, 15px);
  background-color: #ccc;
  width: fit-content;
  margin: auto auto;
}
.btnStart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btnMobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btnLDR {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.cell {
  background-color: #ccc;
}
.snake {
  background-color: green;
}
.food {
  background-color: red;
  border-radius: 100%;
}
.installContainer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.installText {
  text-align: center;
  color: white;
}
.installBtn {
  background-color: teal;
  color: white;
}
@media (max-width: 1024px) {
  .game-board {
    grid-template-columns: repeat(30, 10px);
    grid-template-rows: repeat(30, 10px);
  }
  .btnMobile {
    display: flex;
  }
  .dirBtn {
    width: 125px;
    height: 100px;
  }
}